! This is the global resources file that is loaded when
! all users log in, as well as for the login screen

! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
Xft.dpi: 96

! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
Xft.hintstyle: hintmedium
Xft.hinting: true

xterm*ScrollBar: false

urxvt256c.cursorBlink: true
urxvt256c.urgentOnBell: true
urxvt256c.cursorUnderline: false
urxvt256c.saveline: 2048

urxvt256c*depth: 32
urxvt256c*background: rgba:0000/0000/0200/c800

urxvt256c.scrollBar: false
urxvt.scrollBar: false
URxvt.perl-ext-common: font-size
! urvxt256c.font: xft: DejaVuSans
URxvt.font: xft: DroidSansMono:size=9

! special
*.foreground:   #d0d0d0
*.background:   #151515
*.cursorColor:  #d0d0d0

! black
*.color0:       #151515
*.color8:       #505050

! red
*.color1:       #fb9fb1
*.color9:       #fb9fb1

! green
*.color2:       #acc267
*.color10:      #acc267

! yellow
*.color3:       #ddb26f
*.color11:      #ddb26f

! blue
*.color4:       #6fc2ef
*.color12:      #6fc2ef

! magenta
*.color5:       #e1a3ee
*.color13:      #e1a3ee

! cyan
*.color6:       #12cfc0
*.color14:      #12cfc0

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5

!! special
!*.foreground: #93a1a1
!*.background: #141c21
!*.cursorColor: #afbfbf

!! black
!*.color0: #263640
!*.color8: #4a697d

!! red
!*.color1: #d12f2c
!*.color9: #fa3935

!! green
!*.color2: #819400
!*.color10: #a4bd00

!! yellow
!*.color3: #b08500
!*.color11: #d9a400

!! blue
!*.color4: #2587cc
!*.color12: #2ca2f5

!! magenta
!*.color5: #696ebf
!*.color13: #8086e8

!! cyan
!*.color6: #289c93
!*.color14: #33c5ba

!! white
!*.color7: #bfbaac
!*.color15: #fdf6e3
